
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한글 타자</title>
    

</head>
<body>
    <div id="info">
        <div id="score">{{scoreTitle}}{{score}}</div>
        <div id="life">{{life}}</div>
        <div id="time">{{time}}</div>
        <!-- <div id="time">{{time}}</div> -->
    </div>
    <div id="contents" >
        <div class="boardBox">
            <table class="mapTable">
                <tbody>
                    <tr *ngFor="let word of mapArr">
                        <td class="tdMap" *ngFor="let i of word">{{i}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="answerBox">
            <!-- 입력텍스트박스 -->
            <div id="inputText">
                <input type="text" ng-keypress="search(event=$event)" class="form-control" id="num" required [(ngModel)]="answerWord" name="answerWord" />
            </div>
<!-- 
            <div id="inputText2" *ngFor="let arr of Arr2;  let i = index">
                <input type="text" class="form-control" id="num2" name="{{arr}}" value="{{i}}" />
            </div> -->

            <div id="answerBtn">
                <button id="answerBtn"(click)="answerBtn()" >입력</button>
            </div>
        </div>
    </div>


    <!-- 시작버튼 -->
    <button type="text" value="시작하기" (click)="onClickStartBtn()" >게임시작</button>


    <div class="game">
        <!-- <app-game-ranking *ngIf="!(isPlay$ | async)"></app-game-ranking> -->
        <div class="play" >
            <!-- *ngIf="(isPlay$ | async)" -->
          <!-- <app-play-area></app-play-area> -->
          <!-- <app-play-info></app-play-info> -->
          <!-- <app-gameover  *ngIf="gameOver$ | async"></app-gameover> -->
        </div>
    </div>


</body>

</html>